<div class="row col-md-8 col-md-offset-2">
  <h1>VIDEO</h1>

<div class="panel panel-default">
  <div id='messages'>MSG:</div>
</div>

  <!-- <%= render partial: 'video/message_form', locals: {message: @message, chatroom: @chatroom}%> -->
</div>
